.dark {
  --post-width: 800px;
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --primary-dim: rgb(186, 186, 186);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(123, 124, 124);
  --tertiary-bg: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
  --link-background-color: #1111;
  /* --link-color: var(--primary); */
  --box-shadow: var(--link-underline-shadow);
  --link-hover-color: #94b0db;
  --link-color: #8ab4f8;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
  --footer-height: 0px;
  --signature: var(--primary);
  --signature-bg: var(--secondary);

  transition:
    --theme 0.4s ease,
    --entry 0.4s ease,
    --primary 0.4s ease,
    --primary-dim 0.4s ease,
    --secondary 0.4s ease,
    --tertiary 0.4s ease,
    --tertiary-bg 0.4s ease,
    --content 0.4s ease,
    --code-bg 0.4s ease,
    --border 0.4s ease,
    --link-color 0.4s ease,
    --link-hover-color 0.4s ease,
    --link-underline-shadow 0.4s ease,
    --link-hover-underline-shadow 0.4s ease,
    background-color 0.4s ease,
    color 0.4s ease;
}


html {
  scroll-behavior: smooth;
}

.dark .card {
  transition: transform 0.3s ease;
  will-change: transform;
}

body.dark.list-page,
body.dark {
  background-color: #000000;
  color: #f0f0f0;
  transition:
    background-color 0.4s ease-out,
    color 0.4s ease-out;
}
body.list-page.dark.type-page.kind-home[class*="layout-"] .main {
  opacity: 1;
}


body.dark.type-posts.kind-page[class*="layout-"] .post-single {
  opacity: 1;
}

body.list-page.dark.type-tags.kind-taxonomy[class*="layout"] .main {
  opacity: 1;
}

.post-entry {
  background-color: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 1rem;
}

.first-entry .entry-content {
  font-size: 20px;
}

.first-entry {
  position: relative;
  min-height: 200px;
  margin: var(--gap) 0 calc(var(--gap) * 1);
}

.first-entry .entry-header {
  margin: 40px auto 32px;
}

.first-entry .entry-header h1 {
  font-size: 40px;
}

.post-content {
  font-size: 20px;
  color: var(--content);
}

.first-entry hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary-bg);
  border-top: 0;
  border-bottom: 0;
}
.first-entry .entry-content li {
  margin-top: 0.5em;
}

.first-entry .entry-content ul,
.first-entry .entry-content ol {
  margin: 0.8em 0;
  margin-right: 0px;
  margin-bottom: 0.4em;
  margin-left: 0px;
  padding-inline-start: 20px;
}
