@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
  /* font-weight: 600; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JetBrains Mono", monospace;
  /* font-weight: 400; */
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
  /* font-weight: 400; */
}

.post-content {
  font-family: "Georgia";
  font-size: 25px;
  /* Optional: Add line-height for better readability in serif */
  line-height: 2;
}
